:root {
  --clr-dark-slate-grey: hsl(234, 29%, 20%);
  --clr-charcoal-grey: hsl(235, 18%, 26%);
  --clr-grey: hsl(231, 7%, 60%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-tomato: hsl(4, 100%, 67%);
  --clr-light-tomato: hsl(5, 100%, 95%);
  --clr-rose-red: hsl(343, 100%, 67%);
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--clr-charcoal-grey);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  -webkit-user-select: none;
  user-select: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

input {
  display: block;
}

ul {
  padding-inline-start: 1.5rem;
}
